<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{option}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar animated mode="ios" (keyup)="search(iS)" (ionClear)="cleanSearchbar()" #iS></ion-searchbar>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Permisos
        <ion-badge color="white">{{option.profiles.length}}</ion-badge>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let profile of profiles">
      <ion-label>{{profile}}</ion-label>
      <ion-toggle checked="{{profile.options.length>0}}" disabled="{{profile.id==1}}" mode="ios"
        (ionChange)="modifyPermission(profile)">
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>