<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfiles
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="adminProfile()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar animated mode="ios" (keyup)="search(iS)" (ionClear)="cleanSearchbar()" #iS></ion-searchbar>
  <ion-list>
    <ion-item (click)="adminProfile(profile)" *ngFor="let profile of profiles">
      <ion-label>{{profile}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>