<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfiles
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngIf="allProfiles == null">
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>No hay opciones</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-item>
    <ion-item *ngFor="let profile of allProfiles">
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>{{profile.title}}</ion-label>
        </ion-list-header>
        <ion-list-header routerLink="/permits/profile" routerDirection="root" *ngFor="let option of profile.options">
          <ion-label>
            <ion-icon name="code-working"></ion-icon> {{option.title}}
          </ion-label>
        </ion-list-header>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>